USE [LMSDB]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Calendar](
	[CalendarId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[DateType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[CalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MT_ATTENDANCE]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_ATTENDANCE](
	[DEP_ID] [int] NOT NULL,
	[JOB_ID] [int] NOT NULL,
	[ATT_WORKINGHRS] [int] NULL,
	[ATT_WORKINGDAYS] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MT_DEPARTMENT]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_DEPARTMENT](
	[DEP_NAME] [nvarchar](100) NULL,
	[DEP_ID] [int] IDENTITY(100,1) NOT NULL,
 CONSTRAINT [PK_DEPID] PRIMARY KEY CLUSTERED 
(
	[DEP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MT_EMPLOYEEDETAILS]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MT_EMPLOYEEDETAILS](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[EmployeeCode] [int] NULL,
	[FirstName] [nvarchar](500) NULL,
	[LastName] [nchar](100) NULL,
	[FullName] [nvarchar](500) NULL,
	[UserName] [nchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](500) NULL,
	[Mobile] [int] NULL,
	[PhoneNo] [int] NULL,
	[JoiningDate] [datetime] NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [datetime] NULL,
	[PersonalEmailId] [nvarchar](500) NULL,
	[ReportingManager] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_EMPDETAILSID] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MT_JOBDESCRIPTION]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MT_JOBDESCRIPTION](
	[JOB_ID] [int] IDENTITY(200,1) NOT NULL,
	[JOB_ROLE] [varchar](100) NULL,
 CONSTRAINT [PK_JOBID] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MT_LEAVE]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MT_LEAVE](
	[LEAVE_ID] [int] IDENTITY(300,1) NOT NULL,
	[LEAVE_TYPE] [varchar](500) NULL,
 CONSTRAINT [PK_LEAVEID] PRIMARY KEY CLUSTERED 
(
	[LEAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
	[Authorization] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TR_EMPATTENDANCE]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR_EMPATTENDANCE](
	[EMP_ID] [int] NOT NULL,
	[DEP_ID] [int] NOT NULL,
	[JOB_ID] [int] NOT NULL,
	[ATT_NUMOFDAYS] [int] NULL,
	[ATT_TOTALWORKINGHRS] [int] NULL,
	[ATT_DATE] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TR_EMPLEAVE]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TR_EMPLEAVE](
	[EmployeeleaveID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[LeaveId] [int] NOT NULL,
	[RemainingDays] [int] NULL,
	[LeaveApprovalStatus] [bit] NULL CONSTRAINT [DF_TR_EMPLEAVE_LeaveApprovalStatus]  DEFAULT ((0)),
	[LeaveStatus] [varchar](100) NULL,
	[LeaveApprovedBy] [int] NOT NULL,
	[LeaveReason] [varchar](100) NULL,
	[LeaveFromdate] [datetime] NULL,
	[LeaveToDate] [datetime] NULL,
	[ReJoiningdate] [datetime] NULL,
	[PaidLeave] [int] NULL,
	[UnPaidLeave] [int] NULL,
	[WeekendORHolidaysInLeave] [int] NULL,
	[TotaldaysOnLeaveCurrent] [int] NULL,
	[TotalLeaveTakenInYear] [int] NULL,
 CONSTRAINT [PK_TR_EMPLEAVE] PRIMARY KEY CLUSTERED 
(
	[EmployeeleaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserActivation]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivation](
	[UserId] [int] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserActivation] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/03/2015 11:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Email] [nchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MT_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_DEPID] FOREIGN KEY([DEP_ID])
REFERENCES [dbo].[MT_DEPARTMENT] ([DEP_ID])
GO
ALTER TABLE [dbo].[MT_ATTENDANCE] CHECK CONSTRAINT [FK_DEPID]
GO
ALTER TABLE [dbo].[MT_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_JOBID] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[MT_JOBDESCRIPTION] ([JOB_ID])
GO
ALTER TABLE [dbo].[MT_ATTENDANCE] CHECK CONSTRAINT [FK_JOBID]
GO
ALTER TABLE [dbo].[MT_EMPLOYEEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DEPDETAILSID] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[MT_DEPARTMENT] ([DEP_ID])
GO
ALTER TABLE [dbo].[MT_EMPLOYEEDETAILS] CHECK CONSTRAINT [FK_DEPDETAILSID]
GO
ALTER TABLE [dbo].[MT_EMPLOYEEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_JOBDETAILSID] FOREIGN KEY([JobId])
REFERENCES [dbo].[MT_JOBDESCRIPTION] ([JOB_ID])
GO
ALTER TABLE [dbo].[MT_EMPLOYEEDETAILS] CHECK CONSTRAINT [FK_JOBDETAILSID]
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_DEPATTENDANCEID] FOREIGN KEY([DEP_ID])
REFERENCES [dbo].[MT_DEPARTMENT] ([DEP_ID])
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE] CHECK CONSTRAINT [FK_DEPATTENDANCEID]
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_EMPATTENDANCEID] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[MT_EMPLOYEEDETAILS] ([EmployeeID])
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE] CHECK CONSTRAINT [FK_EMPATTENDANCEID]
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_JOBATTENDANCEID] FOREIGN KEY([JOB_ID])
REFERENCES [dbo].[MT_JOBDESCRIPTION] ([JOB_ID])
GO
ALTER TABLE [dbo].[TR_EMPATTENDANCE] CHECK CONSTRAINT [FK_JOBATTENDANCEID]
GO
ALTER TABLE [dbo].[TR_EMPLEAVE]  WITH CHECK ADD  CONSTRAINT [FK_APPROVALEMPID] FOREIGN KEY([LeaveApprovedBy])
REFERENCES [dbo].[MT_EMPLOYEEDETAILS] ([EmployeeID])
GO
ALTER TABLE [dbo].[TR_EMPLEAVE] CHECK CONSTRAINT [FK_APPROVALEMPID]
GO
ALTER TABLE [dbo].[TR_EMPLEAVE]  WITH CHECK ADD  CONSTRAINT [FK_DEPLEAVEID] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[MT_DEPARTMENT] ([DEP_ID])
GO
ALTER TABLE [dbo].[TR_EMPLEAVE] CHECK CONSTRAINT [FK_DEPLEAVEID]
GO
ALTER TABLE [dbo].[TR_EMPLEAVE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEAVEID] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[MT_EMPLOYEEDETAILS] ([EmployeeID])
GO
ALTER TABLE [dbo].[TR_EMPLEAVE] CHECK CONSTRAINT [FK_EMPLEAVEID]
GO
ALTER TABLE [dbo].[TR_EMPLEAVE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEAVETYPEID] FOREIGN KEY([LeaveId])
REFERENCES [dbo].[MT_LEAVE] ([LEAVE_ID])
GO
ALTER TABLE [dbo].[TR_EMPLEAVE] CHECK CONSTRAINT [FK_EMPLEAVETYPEID]
GO
ALTER TABLE [dbo].[TR_EMPLEAVE]  WITH CHECK ADD  CONSTRAINT [FK_JOBLEAVEID] FOREIGN KEY([JobId])
REFERENCES [dbo].[MT_JOBDESCRIPTION] ([JOB_ID])
GO
ALTER TABLE [dbo].[TR_EMPLEAVE] CHECK CONSTRAINT [FK_JOBLEAVEID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
